body {
  font-family: Arial;
  padding: 40px;
  background: #f0f8ff;
}
form {
  margin-bottom: 20px;
}
input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}
button {
  padding: 10px 20px;
}
#status {
  color: green;
}
